.THIS {
}
.THIS.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.THIS.container{
    height: 200px;
    position: relative;
}
.THIS h1{
    text-align: center;
    font-size: 24px;
    top: -30%;
}